body{
    /*background-color:#212121*/
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("/assets/image/bg.jpg");
}

#app{display:flex}

img{
    width:40px;
    height:40px;
    margin-left:10px;
    margin-top:10px;
    cursor:pointer;
}

.intro-image{
    position: relative;
    bottom: 100px;
    object-fit:cover;
    width: 100%;
    height: max-content;
    margin-left: center;
    margin-right: center;
    border-radius:10px;
}

*{
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align:center;
    color:#eeeeee;
    font-weight: bold;
    margin:0 0px -5px;
    font-size:30px;
    text-transform: uppercase;
}

.main-container{
    height:auto;
    width:800px;
    background-color: #fff;
    margin:30px auto;
    border-radius:8px;
    padding:30px
}

.main-container .question-container{
    padding:10px;
    background-color:#ff6e40;
    border-radius:8px;
    color:#000;
    font-size:16px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
    width:100%;
    height:auto
}

.indication-text{font-weight:bold}

.main-container .option-container{
    float:left;
    width:100%;
    visibility:visible
}

.main-container .option-container ul{
    list-style:none;
    padding:0;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap
}

.main-container .option-container ul li{
    display:inline-block;
    background-color:#4a148c;
    width:47%;
    padding:15px;
    border-radius:8px;
    margin-top:25px;
    font-size:15px;
    color:#fff;
    box-shadow:0 3px 0px #000;
    cursor:pointer;
    outline:none;
    text-align:center
}

.main-container .option-container ul li:active{box-shadow:0 3px 0px transparent}

.main-container .option-container ul li.correct{
    background-color:#76ff03;
    box-shadow:0 3px 0px #76ff03;
    color: #000;
    font-weight: bold;
}

.main-container .option-container ul li.wrong{
    background-color:#ff1744;
    box-shadow:0 3px 0px #ff1744;
    color: #000;
    font-weight: bold;
}

.main-container .button-container{
    display:flex;
    justify-content:space-between;
    float:left;
    width:100%;
    padding-top:25px;
    visibility:visible
}

.main-container .button-container .button-next{
    width:35%;
    float:left
}

.main-container .button-container .button-reponse{
    width:35%;
    float:left;
    visibility:hidden
}

.main-container .button-container .button-reponse button{
    padding:15px 50px;
    color:white;
    background-color:#12005e;
    border:none;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    box-shadow:0 3px 0px #12005e;
    outline:none
}

.main-container .button-container .button-next button{
    padding:15px 50px;
    color:white;
    background-color:#12005e;
    border:none;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    box-shadow:0 3px 0px #12005e;
    outline:none
}

.main-container .button-container .button-reponse button:active{box-shadow:0 3px 0px transparent}

.main-container .button-container .button-next button:active{box-shadow:0 3px 0px transparent}

#aside-container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:500px;
    height:300px;
    margin:50px auto
}

#timeover-message{
    width:auto;
    padding: 10px;
    height:40px;
    border:2px solid black;
    border-radius:8px;
    text-align:center;
    background-color:white;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    visibility:hidden
}

#answer-container{
    display:flex;
    width:auto;
    height:auto;
    margin:10px auto;
    padding:15px;
    background-color:#00e676;
    border:2px solid black;
    border-radius:5px;
    flex-wrap:wrap;
    color:#000;
    font-size: 30px;
}

.answer-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    visibility:hidden
}

#image{
    margin-left: center;
    margin-right: center;
}

.question-image, #logo {
    position:relative;
    top:10px;
    width:50%;
    height:70%;
    object-fit:fill;
    margin-left:150px;
    border-radius:10px;
    visibility:visible;
}

#score-container{
    width:25%;
    float:left;
    visibility: visible
}

#score-container{
    font-size:20px;
    color:black;
    line-height:50px;
    text-transform:uppercase
}

#score-container{
    background-color:#00bcd4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding:5px 20px;
    border-radius:8px;
    color:black
}